* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background: url(background.jpg) no-repeat center top/ cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 65%;
    max-width: 500px;
    height: 250px;
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 0 0 3px;
}

#timer {
    width: 100%;
    font-size: 72px;
    text-align: center;
    margin: 0px auto;
    padding: 35px;
}

.buttons {
    text-align: center;
}

button {
    margin: 0 10px;
    border: none;
    cursor: pointer;
}

button i {
    font-size: 2rem;
    padding: 10px;
    color: #fff;
    width: 50px;
}

#play {
    background-color: green;
    border-radius: 5px;
}

#stop {
    background-color: red;
    border-radius: 5px;
}

#reset {
    background-color: orange;
    border-radius: 5px;
}

#pause {
    background-color: blue;
    border-radius: 5px;
}


@media only screen and (max-width: 414px) {

    .container {
        width: 80%;
        height: 200px;
    }

    #timer {
        font-size: 48px;
        padding: 20px;
    }

    button i {
        font-size: 1.5rem;
        padding: 8px;
    }
}